<% if @users.size > 0 %>
	<h2>Users</h2>
	<div class="row">
	  <table class="table table-striped table-bordered">
	    <% @users.each do |i| %>
	      <tr>
	      	<td><img src="<%= avatar_small(i) %>" style="display:inline-block; height: 50px; width:50px;" /></td>
	      	<td><a href="/users/<%=i.id%>"><%= i.username %></a></td></tr>
	    <% end %>
	  </table>
	</div>
<% end %>
<% if @predictions.size > 0 %>
	<h2>Predictions</h2>
	<div class="row">
	  <table class="table table-striped table-bordered">
	    <% @predictions.each do |i| %>
	      <%= render partial: "predictions/prediction", locals: {prediction: i} %>
	    <% end %>
	  </table>
	</div>
<% end %>