<div class="row">
	<div class="col-md-6" style="text-align:right;padding:0px 2px">
		<a class="disagree disagreeButton glyphicon glyphicon-chevron-down <%= disagreeClass %>"></a></div>
	<div class="col-md-6" style="text-align:left;padding:0px 2px"><a class="agree agreeButton glyphicon glyphicon-chevron-up <%= agreeClass %>"></a></div>
</div>