<h2>Feed, Yo!<a href="/predictions/new" class="glyphicon glyphicon-pencil pull-right" ></a></h2>
<table class="table table-striped table-bordered">
  <% @predictions.each do |i| %>
    <tr><td><%= i.body %></td></tr>
  <% end %>
</table>