<div class="row">
	<h2>Feed, Yo!<a href="/predictions/new" class="glyphicon glyphicon-pencil pull-right" ></a></h2>
</div>
<div class="row">
	<table class="table table-striped table-bordered">
	  <% @predictions.each do |i| %>
	    <tr><td><a href="/predictions/<%= i.id %>"><%= i.body %></a></td></tr>
	  <% end %>
	</table>
</div>