<div class="panel-group" id="accordion">
    <% @predictions.each do |i| %>
      <%= render partial: "predictions/prediction", locals: {prediction: i} %>
    <% end %>
</div>
<% if (@unseen_badges.size > 0) %>
	<%= render partial: "badges/unseen_modal", locals: {unseen_badges: @unseen_badges} %>
<% end %>