<% content_for :head do %>
  <%= javascript_include_tag "predictions" %>
	<%= javascript_include_tag 'prediction_actions' %>
<% end %>
<div class="row">
	<div class="panel-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="predictionsList">
	    <% @predictions.each do |i| %>
	      <%= render partial: "predictions/prediction", locals: {prediction: i, collapseState: ''} %>
	    <% end %>
	</div>
</div>
