<script>FlurryAgent.logEvent("PREDICITIONS");</script>
<% content_for :head do %>
	<%= javascript_include_tag 'prediction_actions' %>
<% end %>

<div class="panel-group" id="predictionsList">
	<%= render partial: "predictions/prediction", locals: {prediction: @prediction, collapseState: 'in'} %>
</div>
