<div class="row contest-item" style="border: 1px solid #dddddd; border-top: 0px;background-color: #fff;padding-top:10px;padding-bottom:5px;">
  <div class="col-xs-12 center">
      <div class="row"><div class="col-xs-12">
           <img class="img-circle" src="http://aengland.s3.amazonaws.com/users/avatars/000/000/001/small/avatar_5_2x.png?1406318499">
           <h2><%= contest.name %></h2>
           <p class="description"><%= contest.description %></p>
      </div></div>
  </div>
</div>
