<% leaders.each do | l | %>
  <div class="row standings-item">
    <div class="col-xs-10" ><span style="width:40px;display:inline-block;padding-left: 10px;"><%= l[:rank] %>.</span><img src="<%= l[:avatar_image][:small] %>" class="img-circle" style="height:36px;width:36px;vertical-align:middle;margin-right:10px;"/><%= l[:username] %></div>
    <div class="col-xs-2 pull-right" style="text-align:right;padding-right:10px"><%= l[:won] %> </div>
  </div>
<% end %>
