<% @contest.contest_stages.each do |stage| %>
<div class="panel panel-default predictionContainer">
    <div class="panel-heading" style="padding:0px 0px; background-color: #EFEFEF">
    <div class="row">
          <h3 class="text-center username"><%= stage.name %></h3>
    </div>
  </div>
</div>
<% end %>
