<div class="row" style="margin-top:20px">
  <% @badges.each do |i| %>
  <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
      <%= image_tag("badges/#{i.name}.png") %>
    </a>
  </div>
  <%end%>
</div>