<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-title" id="myModalLabel">SHARE</div>
    </div>
    <div class="modal-body" style="text-align:center">
      <div class="row">
        <div class="col-xs-12">
          <p>Share this link via email or other channels to invite your friends</p>
          <input class="input-lg share-url" value="<%= group.share_url %>" style="width:100%;margin-bottom:1em;text-align: center;" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <a class="tsb" href="https://twitter.com/intent/tweet?text=<%=u("Join my group \"#{group.name}\" on @KNODAfuture.")%>&tw_p=tweetbutton&url=<%= u(group.share_url)%>" target="_new" data-toggle="tooltip" data-placement="bottom" title="Share on Twitter"></a>
            <a class="fsb" href="https://www.facebook.com/sharer/sharer.php?app_id=225565977626604&u=<%= u(group.share_url)%>" target="_new" data-toggle="tooltip" data-placement="bottom" title="Share on Facebook"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
    </div>
  </div>
</div>
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
<script>
  $('.fsb,.tsb,.esb').tooltip()
</script>
