<div class="row" style="border-bottom: 2px solid #efefef;">
  <div class="col-xs-6 col-sm-2" style="text-align:center;">
    <img src="<%= avatar_small(group) %>" class="avatar_small" /> 
  </div>
  <div class="col-xs-6 col-sm-10" >
    <h2>KU CREW</h2>
    <p>Rank</p>
    <p><%= user_rank(user, leaders) %></p>
  </div>    
</div>    