<div id="groups-leaderboard">
  <div class="row" style="margin: 10px 0px">
      <ul class="nav nav-pills col-xs-12" style="text-align:left;">
        <li><a href="#">Last 7 Days</a></li>
        <li><a href="#">Last 30 Days</a></li>
        <li><a href="#">All Time</a></li>
      </ul>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr><th>Rank</th><th>Username</th><th>Wins</th><th>Win %</th></tr>
      </thead>
      <tbody>
      <% @leaders.each do |l| %>
        <tr><td><%= l[:rank] %></td><td><%= l[:username] %></td><td><%= l[:won] %></td><td><%= winning_percentage(l[:won], l[:lost]) %>%</td></tr>
      <% end %>
      </tbody>
    </table>
</div>