<h1>Groups!</h1>
<% content_for :head do %>
  <%= javascript_include_tag 'prediction_actions' %>
<% end %>

<%= render partial: "groups/stats", locals: {user: @user, group: @group, leaders: @leaders  } %>

<div class="panel-group" id="predictionsList">
    <% @predictions.order(created_at: :desc).limit(50).each do |i| %>
      <%= render partial: "predictions/prediction", locals: {prediction: i, collapseState: ''} %>
    <% end %>
</div>