<%= simple_form_for @user, :html=> { class: 'form-horizontal' } do |f| %>
  <h3> Change your Username or Email </h3>
  <div class="form-group">
      <label for="username">Username</label>
      <%= f.input_field :username, :class => 'form-control username', :maxlength => '20'  %>
      <label for="email">Email Address</label>  
      <%= f.input_field :email, :class => 'form-control email', :maxlength => '255'  %>
  </div>
    <%= f.button :submit , :class => 'btn btn-success btn-lg', :value => 'Save' %>
<% end %>
