<% content_for :head do %>
  <script language="Javascript">
  var readURL;

  $(function() {
    $("#user_avatar").change(function() {
      $('#avatarSelection form').submit()
    });
  });
  </script>
<% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3" style="text-align:center">
    <%= image_tag("avatars/avatar_#{@avatar_version}@2x.png", :size => "200x200") %>
  </div>
</div>
<div class="row" id="avatarSelection">
	<%= form_for @user, :url => user_path(@user), :html => { :multipart => true } do |form| %>
		<div class="col-md-6 col-md-offset-3" style="text-align:center">
      <input id="user_avatar" name="user[avatar]" type="file" class="form-control">
      <a href="/users/<%= @user.id %>/default_avatar?avatar_version=<%= @avatar_version %>" class="useDefault btn btn-primary">Skip</a>
    </div>
    <% end %>    
</div>