  <script language="Javascript">
  // jQuery not really required, it's here to overcome an inability to pass configuration options to the fiddle remotely
  $(document).ready(function() {
    console.log('hello');
    // Custom example logic
    function $(id) {
      return document.getElementById(id); 
    }

    var uploader = new plupload.Uploader({
      runtimes : 'html5,flash,silverlight,html4',
      browse_button : 'pickfiles', // you can pass in id...
      container: $('container'), // ... or DOM Element itself
      max_file_size : '10mb',
      
      // Fake server response here 
      // url : '../upload.php',
      url: "/users/me/avatar_upload",
      resize: {
        width: 1000,
        height: 1000
      },      
      flash_swf_url : 'http://rawgithub.com/moxiecode/moxie/master/bin/flash/Moxie.cdn.swf',
      silverlight_xap_url : 'http://rawgithub.com/moxiecode/moxie/master/bin/silverlight/Moxie.cdn.xap',
      filters : [
        {title : "Image files", extensions : "jpg,jpeg,gif,png"},
      ],
      init: {
        PostInit: function() {
        },

        FilesAdded: function(up, files) {
          uploader.start();
        },
        UploadComplete: function(up, files) {
          window.location = '/users/me/crop'
        }
      }
    });

    uploader.init();
  });

  </script>
<div class="row">
  <div class="col-md-6 col-md-offset-3" style="text-align:center">
    <%= image_tag("avatars/avatar_#{@avatar_version}@2x.png", :size => "200x200") %>
  </div>
</div>
<div class="row" id="avatarSelection">
	<%= form_for @user, :url => user_path(@user), :html => { :multipart => true } do |form| %>
		<div class="col-md-6 col-md-offset-3" style="text-align:center">
      <div id="container">
          <a id="pickfiles" class="useDefault btn btn-success">Choose File</a>
          <a href="/users/<%= @user.id %>/default_avatar?avatar_version=<%= @avatar_version %>" class="useDefault btn btn-primary">Skip</a>
      </div>      
      
    </div>
    <% end %>    
</div>