<div class="row">
  <div class="col-xs-4">
    <img src="<%= avatar_big(@user) %>" class="avatar_big" /> 
  </div>
  <div class="col-xs-8">
    <div class="row" style="height:50px">
      <div class="col-xs-12">
        Stats
      </div>
    </div>
    <div class="row" style="height:50px;">
      <div class="col-xs-12">
        More Stats
      </div>
    </div>    
  </div>    
</div>