<% content_for :head do %>
	<%= javascript_include_tag 'prediction_actions' %>
<% end %>

<%= render partial: "users/stats", locals: {user: @user} %>

<div class="panel-group" id="predictionsList">
    <% @user.predictions.each do |i| %>
      <%= render partial: "predictions/prediction", locals: {prediction: i} %>
    <% end %>
</div>