<% if user.followed_by?(current_user) %>
  <a class="btn-following graphic pull-right" data-id="<%= user.following(current_user).id %>" data-user-id="<%= user.id %>"></a>
<% else %>
  <a class="btn-follow graphic pull-right" data-user-id="<%= user.id %>"></a>
<% end %>
