<% title "About Us" %>

<div class="row" style="background-color: white; padding: 0px 40px;min-height: 300px;padding-top: 50px">
  <div class="col-xs-12">
    <p dir="ltr">Our concept is simple: Take predictions. Allow social interaction. Score predictions. Rate &amp; rank predictors.</p>
    <p dir="ltr">The vision is grand: We want to become the official record book for all human predictions.</p>
    <p dir="ltr">We are Knoda, and we are on a mission to create a stellar company right here in Kansas City. We were recently accepted into the Spark Lab KC accelerator program. We’re pretty pumped about that. Pitch/demo day is August 23, so we’ll be furiously working all summer on getting something awesome up and going by then.</p>
    <p dir="ltr">Do you like making predictions? Like proving your friends wrong about theirs? Like trash talk and competition? You’ll probably like our system. We’ll launch on iOS and the web. Android will follow shortly thereafter. We’ll release it fast and then iterate even faster.</p>
    <p dir="ltr">We believe in the power of aggregating human predictions, in moving fast and in being excellent at everything that we do. I’m sure we’ll make some mistakes along the way, but it won’t be from lack of effort or passion.</p>
    <p style="text-align:center">
    <a href="https://itunes.apple.com/us/app/knoda/id764642995" target="_blank"><%= image_tag("appStoreBadge.png") %></a>
    </p>
  </div>
</div>