<div style="text-align:center;">
  <iframe src="/predictions/1/embed" width="320" height="180" frameborder="0"></iframe>
</div>

<div style="text-align:center;">
  <iframe src="/predictions/<%= @prediction1.id %>/embed" width="640" frameborder="0" style="width:640px;height:360px"></iframe>
</div>

<div style="text-align:center;">
  <iframe src="/predictions/<%= @prediction2.id %>/embed" width="640" frameborder="0" style="width:640px;height:360px"></iframe>
</div>

<div style="text-align:center;">
  <iframe src="/predictions/<%= @prediction2.id %>/embed" width="320" height="180" frameborder="0"></iframe>
</div>
