<div id="footer">
  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <span><a href="#section-1" style="cursor:default;text-decoration:none;">Knoda, LLC &copy; 2014</a></span>
      <span class="hidden-xs"><a href="/about">About</a></span>
      <span class="hidden-xs"><a href="http://blog.knoda.com">Blog</a></span>
      <span class="hidden-xs"><a href="/terms">Terms</a></span>
      <span class="hidden-xs"><a href="/privacy">Privacy</a></span>
      <span class="hidden-xs"><a href="/support">Support</a></span>
      <span class="hidden-xs">
        <a href="http://twitter.com/KNODAfuture" target="_blank"><%= image_tag("icons/social/twitter_icon.png") %></a>
        <a href="http://facebook.com/KNODAfuture" target="_blank"><%= image_tag("icons/social/facebook_icon.png") %></a>
      </span>
    </div>
  </div>
  </div>
</div>