<div class="header prelogin-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= image_tag("knoda_logo.png") %>
        <div class="pull-right"><span class="hidden-xs">New to Knoda?</span> <a href="/">Sign Up</a></div>
      </div>
    </div>
  </div>
</div>
