<div class="subnav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a class="<% if active == 'about' %>active<%end%>" href="/about">About</a>
        <a class="" href="http://blog.knoda.com">Blog</a>
        <a class="<% if active == 'terms' %>active<%end%>" href="/terms">Terms</a>
        <a class="<% if active == 'privacy' %>active<%end%>" href="/privacy">Privacy</a>
        <a class="" href="/support">Support</a>
      </div>
    </div>
  </div>
</div>