/*
 *= require main
 *= require jquery.Jcrop
 *= require datepicker
 *= require jquery.timepicker
 */

body {
  padding-top: 50px;
}

#avatarSelection {
	margin-top: 50px;
}

.content {
	font-family: 'Open Sans', sans-serif;
	color: #666;
}

.panel-group .panel + .panel {
	margin-top: 0px;
}