.greenLight {
  color: @green-light;
}

.sansLight {
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
  font-weight: 300;
}
.sansRegular {
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
  font-weight: 400;
}
.sansBold {
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
  font-weight: 400;
}
