// Core variables and mixins
@import "twitter/bootstrap/variables";
@import "variables";
@import "twitter/bootstrap/mixins";
@import "overrides/mixins";

// Reset
@import "twitter/bootstrap/normalize";
@import "twitter/bootstrap/print";

// Core CSS
@import "twitter/bootstrap/scaffolding";
@import "twitter/bootstrap/type";
@import "twitter/bootstrap/code";
@import "twitter/bootstrap/grid";
@import "twitter/bootstrap/tables";
@import "twitter/bootstrap/forms";
@import "twitter/bootstrap/buttons";

// Components
@import "twitter/bootstrap/component-animations";
//@import "overrides/glyphicons";
@import "twitter/bootstrap/dropdowns";
@import "twitter/bootstrap/button-groups";
@import "twitter/bootstrap/input-groups";
@import "twitter/bootstrap/navs";
@import "twitter/bootstrap/navbar";
@import "twitter/bootstrap/breadcrumbs";
@import "twitter/bootstrap/pagination";
@import "twitter/bootstrap/pager";
@import "twitter/bootstrap/labels";
@import "twitter/bootstrap/badges";
@import "twitter/bootstrap/jumbotron";
@import "twitter/bootstrap/thumbnails";
@import "twitter/bootstrap/alerts";
@import "twitter/bootstrap/progress-bars";
@import "twitter/bootstrap/media";
@import "twitter/bootstrap/list-group";
@import "twitter/bootstrap/panels";
@import "twitter/bootstrap/wells";
@import "twitter/bootstrap/close";

// Components w/ JavaScript
@import "twitter/bootstrap/modals";
@import "overrides/modals";
@import "twitter/bootstrap/tooltip";
@import "twitter/bootstrap/popovers";
@import "twitter/bootstrap/carousel";

// Utility classes
@import "twitter/bootstrap/utilities";
@import "twitter/bootstrap/responsive-utilities";

@import "loading";

@import "groups";

body {
	margin-top:100px;
}

.btn {
	.sansLight;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	background-color: @green-dark;
	border-color: @green-dark;
}

.btn-style-join {
	width: 100%;
	color: @green-dark;
	background-color: #DEE7E1;
	border-color: @green-dark;
	&:hover {
		background-color: @green-dark;
		color: #DEE7E1;
		border-color: @green-dark;
	}
}

a {
	text-decoration: none;
	cursor: pointer
}

h3 {
	font-size: 18px;
}

@import "font";

.center {
	text-align: center;
}

.smallCaption {
	.sansRegular;
	font-size: 13px;
	margin-bottom: 0px;
	margin-top: 5px;
}

.green-nav-tabs {
	.sansLight;
	font-size: 16px;
	background-color: #77BC1F;
	padding: 5px 0px;
	a {
		text-decoration: none;
		color: @profile-light-green;
		&.active, &:hover, &:active {
			color: @white;
		}
	}
}

#new_prediction {
	.body {
		height: 100px;
	}
}

.activityBadge {
	display: inline-block;
	top: 25px;
	left: 25px;
	position: relative;
	background-color: red;
}

@import "predictions";
#predictionsList {
	padding: 0px;
}
#predictions-index-container {
	.prediction-tabs {
		a {
			display: inline-block;
			height: 29px;
			line-height: 29px;
			margin: 0px;
			padding: 0px;
		}
		.discover, .home {
			.sansRegular;
			padding: 0px 10px;
			text-transform: uppercase;
		}
	}
}

#friends-find-container {
	padding: 0px;
	.find-friends-tabs {
		a {
			height: 29px;
			line-height: 29px;
			margin: 0px;
			padding: 0px;
		}
		.btn-facebook-friends, .btn-twitter-friends {
			.sansRegular;
			padding: 0px 10px;
			text-transform: uppercase;
		}
	}
	.found-friend {
		position:relative;padding-top: 5px;
		border-bottom: 1px solid @gray-lightest;
	}
	.real-name {
		.sansLight;
		font-size: 16px;
		color: @gray;
	}
	.username {
		.sansRegular;
		font-size: 13px;
		color: @gray;
	}
}

.k-icon {
	display: inline-block;
	&.k-icon-find-friends {
		width: 28px;
		height: 29px;
		.img-retina("icons/find_friends.png", "icons/find_friends@2x.png", 28px, 24px);
		background-position: center center;
		background-repeat: no-repeat;
	}
}

.stat-values {
	font-size:2em;
	margin-top: 15px;
}

.btn-follow, .btn-following {
	&.graphic {
		height: 30px;
		width: 40px;
		position:absolute;right: 5px; top: 5px;
	}
}
.btn-following {
	&.graphic {
		.img-retina("icons/FollowBtnActive.png", "icons/FollowBtnActive@2x.png", 40px, 30px);
	}
}
.btn-follow {
	&.graphic {
		.img-retina("icons/FollowBtn.png", "icons/FollowBtn@2x.png", 40px, 30px);
	}
}

@import "users";

@import "activities";

.collapseText {
	display: none;
}
.navbar-collapse.in{
	background-color: @green-light;
	margin-bottom: 20px;
	.collapseText {
		display: inline-block;
		font-size: 1.25em;
		color: white;
		margin-left: 50px;
		margin-top: 15px;
		display: inline-block;
		text-transform: uppercase;
	}
	.dropdown {
		display:none;
	}
	.activityBadge {
		display: none;
	}
	.navbar-nav {
		margin: 0px;
		padding: 0px;
	}
}

.avatar_thumb {
	height: 50px;
	width: 50px;
}


.avatar_small {
	height: 100px;
	width: 100px;
}

.avatar_big {
	height: 200px;
	width: 200px;
}

.avatar_full {
	height: 344px;
	width: 344px;
}

.jcrop-holder {
	margin: auto
}


@media (max-width: @screen-xs-max) {
	#search-index-container {
		.input-lg {
			font-size: 14px;
		}
	}
}

.hasDatepicker{z-index:1151;}

input[type="date"], input[type="time"] {
  line-height: 34px;
  height: 34px;
  width:100%; text-align:center;
}

.time-picker-wrapper {
	input {
		height: 34px;
		width: 75%;
	}
}

.date-datepicker-button {
	height: 34px;
	width: 100%;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}


.empty-state {
	background-color: #ffffff;
	margin: 0px;
	.img-retina("no_content_image.png", "no_content_image@2x.png", 150px, 150px);
	text-align:center;
	height:300px;
	background-position: center 30px;
	background-repeat: no-repeat;
	padding-top: 185px;
	.sansLight;
	a {
		text-decoration: none;
		cursor: pointer;
		color: @green-light;
	}
	h2 {

	}
	p {
		font-size: 16px;
		padding: 0px 20px;
	}
	&.short {
		padding-top: 110px;
	}
	&.twitter-background {
		.short;
		.img-retina("backgrounds/InviteTwitterPlaceholder.png", "backgrounds/InviteTwitterPlaceholder@2x.png", 82px, 65px);
	}
	&.facebook-background {
		padding-top: 120px;

		.img-retina("backgrounds/InviteFacebookPlaceholder.png", "backgrounds/InviteFacebookPlaceholder@2x.png", 82px, 82px);
	}
	&.friend-background {
		.short;
		.img-retina("backgrounds/FollowFeedPlaceholder.png", "backgrounds/FollowFeedPlaceholder@2x.png", 83px, 73px);
	}
}

.limit-size-small {
	max-width:480px;margin: auto;
}
.limit-size-med {
	max-width:640px;margin:auto;
}

.knoda-green-light {
	color: @green-light;
}


.prediction-share {
	a {
		width: 32px;
		height: 32px;
		display: inline-block;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 32px 32px;
		margin: 0px 10px;
	}
	.share-twitter {
		.img-retina("icons/social/share/twitter_share.png", "icons/social/share/twitter_share@2x.png", 32px, 32px);
		&.active {
			.img-retina("icons/social/share/twitter_share_active.png", "icons/social/share/twitter_share_active@2x.png", 32px, 32px);
		}
	}
	.share-facebook {
		.img-retina("icons/social/share/facebook_share.png", "icons/social/share/facebook_share@2x.png", 32px, 32px);
		&.active {
			.img-retina("icons/social/share/facebook_share_active.png", "icons/social/share/facebook_share_active@2x.png", 32px, 32px);
		}
	}
}

#users-show-container{
	.panel-wrapper {
		max-width: 500px;
		margin: 0px auto;
		text-align:center;
	}
	#collapseSocial {
		img {
			height: 32px;
			width: 32px;
			margin-right: 10px;
		}
		a {
			line-height: 32px;
			display: inline-block;
			color: @green-dark;
			text-decoration: none;
			&.social-account-destroy {
				color: @white;
				font-size: 14px;
				line-height: 24px;
			}
		}
	}
}


#sharePrediction, #groups-shareLink {
	a.tsb, a.fsb, a.esb {
		display: inline-block;
		background: image-url("icons/social/share-embed-sprite.png") no-repeat top left;
		margin: 0px 10px;
	}
	a.tsb {
		background-position: 0 -560px; width: 60px; height: 60px
	}
	a.fsb {
		background-position: 0 -280px; width: 60px; height: 60px;
	}
	a.esb {
		background-position: 0 0; width: 60px; height: 60px;
	}
	.sprite-share_embed2x{ background-position: 0 -110px; width: 120px; height: 120px; }
	.sprite-share_facebook2x{ background-position: 0 -390px; width: 120px; height: 120px; }
	.sprite-share_twitter2x{ background-position: 0 -670px; width: 120px; height: 120px; }
}

@import "postlogin-navigation";

.avatar-circle {
	border: 1px solid @gray-lightest;
}

.help-text {
	.sansRegular;
	color: @green-light;
	font-size: 12px;
	cursor: pointer;
}

.popover.help {
	.popover-title {
		.sansRegular;
		font-size: 14px;
		background-color: @green-light;
		color: @white;
		text-align:center;
	}
	.popover-content {
		.sansLight;
		font-size: 14px;
	}
}

#friends-find-container {
	.invite-twitter-connect, .invite-facebook-connect, .invite-twitter-share, .invite-facebook-share {
		width: 270px;
		height: 44px;
		display: inline-block;
	}
	.invite-twitter-connect {
		.img-retina("icons/social/InviteTwitterConnectBtn.png", "icons/social/InviteTwitterConnectBtn@2x.png", 270px, 44px);
	}
	.invite-facebook-connect {
		.img-retina("icons/social/InviteFacebookConnectBtn.png", "icons/social/InviteFacebookConnectBtn@2x.png", 270px, 44px);
	}
	.invite-twitter-share {
		.img-retina("icons/social/InviteTwitterShareBtn.png", "icons/social/InviteTwitterShareBtn@2x.png", 270px, 44px);
	}
	.invite-facebook-share {
		.img-retina("icons/social/InviteFacebookShareBtn.png", "icons/social/InviteFacebookShareBtn@2x.png", 270px, 44px);
	}
}
#activities-index-container, #groups-index {
	.navigation {
		margin: 0px;
		border-left:1px solid @gray-lightest;
		border-right:1px solid @gray-lightest;
		padding: 10px 5px;
		a {
			text-decoration: none;
			.sansRegular;
			color: @green-light;
			padding: 10px 10px;
			&:hover, &.active {
				background-color: transparent;
				color: @green-dark;
			}
		}
	}
}

#groups-index {
	.contest-item {
		cursor: pointer;
	}
}

#groups-index, #contests-show-container {
	.contest-item {
		color: @green-dark;
		border-bottom: 1px solid @gray-lightest;
		background-color: #fff;
		.description {
				padding: 5px;
		}
		h2 {
			margin: 0px 5px;
			font-size: 18px;
			color: @green-light;
		}
		p {
			color: @green-dark;
		}
		.stats {
			margin: 10px 0px 0px 0px;
			text-align: left;
			border-top: 1px solid @gray-lightest;
			.stats-left {
				border-right:1px solid @gray-lightest;
				padding: 10px 0px;
			}
			.stats-right {
				padding: 10px 0px;
			}
		}
		p {
			padding: 0px;
			margin: 0px;
			color: @green-dark;
			&.stat-value {
				.sansLight;
				font-size: 18px;
			}
			&.stat-label {
				.sansRegular;
				font-size: 10px;
			}
		}
		.contest-rank-icon {
				.img-retina("icons/ContestRankIcon.png", "icons/ContestRankIcon@2x.png", 20px, 16px);
				background-repeat: no-repeat;
				background-position: center center;
				height: 32px;
				width: 40px;
				position:absolute;
				right: -21px;
				bottom: 15px;
				z-index: 1;
				background-color: #fff;
		}
		.btn-join-contest {
			.btn-style-join;
			width: 100%;
		}
	}
}

#groups-index {
	.contest-item {
		padding-top:10px;
		border-bottom: 5px solid @gray-lightest;
	}
	.contests-tab-content, .contests-explore-tab-content {
		background-color: #fff;
		border: 1px solid #cccccc;
		border-top: 0px;
	}
}

#contests-show-container {
.contest-item {
	margin: 0px;
	padding: 10px 0px 0px 0px;
	border: 1px solid @gray-lightest;
	border-bottom: 0px;
}

.contest-tabs {
	.sansLight;
	font-size: 14px;
	background-color: #77BC1F;
	margin:0px;
	padding: 10px 0px 10px 0px;
	a {
		text-decoration: none;
		color: @profile-light-green;
		&.active, &:hover, &:active {
			color: @white;
		}
	}
}
.standings {
	margin: 0px;
	border: 1px solid #cccccc;
	.standings-item-header {
		background-color: @gray-lightest;
		line-height: 36px;
		font-size: 11px;
		padding: 5px 10px;
		margin: 0px;
	}
	.standings-select {
		margin: 5px;
		&:focus {
			.box-shadow(0px 0px 0px);
			border: 1px solid #cccccc;
		}
	}
	.standings-container {
		padding-top: 5px;
		.standings-item {
			margin-left: 0px;
			margin-right: 0px;
			.sansRegular;
			font-size: 16px;
			padding: 2px 0px 5px 0px;
			&:nth-child(even) {
				background-color: @gray-lightest;
			}
			.rank {
				color: @green-light;
			}
		}

	}
}
}

.h2h-bar-right, .h2h-bar-left {
	color: @green-light;
}
.h2h-bar-right, .h2h-bar-left {
	height:30px;background-color:@green-dark;position:absolute;
	color:@white;font-size:24px;line-height:30px;
	.sansRegular;
	z-index:1;margin:10px 0px;
	&.zero {
		background-color: transparent;
		width: 100% important!;
	}
}
.h2h-bar-left {
	right:25px;
	text-align:right;padding-right:45px;
}
.h2h-bar-right {
	left:25px;
	text-align:left;padding-left:45px;
}
.h2hWins {
	text-align:center;
	color: @green-dark;
	.sansRegular;
	font-size: 16px;
}




.rivalry-item {
	border-bottom: 1px solid @gray-lightest;
	&.rivalry-item-single {
		border-bottom: 0px;
	}
	.rivalry-header {
		padding:10px 35px;height: 82px;
		.vs-label {
			position:absolute;left:-14px;top:15px;
			.sansRegular;
			color: @green-dark;
			font-size: 14px;
		}
		.avatar-circle {
			border-width: 0px;
		}
		.username {
			.sansRegular;
			font-size: 14px;
			color: @green-dark;
		}
	}
	.rivalry-body {
		display:none;
		text-align:center;
		padding: 0px 10px 10px 10px;
		border-top: 1px solid @gray-lightest;
		.rivalry-stat {
			height: 40px;
			font-size: 14px;
			line-height: 40px;
			.rivalry-label {
				text-align: center;
				color: @green-dark;
				text-transform: uppercase;
				font-size: 14px;
				.sansRegular;
			}
			.value {
				color: @green-light;
				font-size: 24px;
				.sansRegular;
				&.loser {
					.sansLight;
				}
				&.left {
					text-align: right;
				}
				&.right {
					text-align: left;
				}
			}
		}

		.rivalry-stat-header {
			color: @green-dark;
			.sansRegular;
			font-size: 16px;
		}

	}
}

#users-rivals-container {
	padding: 0px;
	.h2hWins {
		padding: 10px;
	}
	.rivalry-item {
		.rivalry-header {
			height: 90px;
		}
	}
	.h2h-bar-right, .h2h-bar-left {
		color: @green-light;
	}

}

.view-more-h2h {
	display: inline-block;
	height: 34px;
	width: 149px;
	.img-retina("icons/h2h_view_more.png", "icons/h2h_view_more@2x.png", 149px, 34px);
}

.h2h-empty-header {
	color: @green-dark;
	.sansLight;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.h2h-empty-body {
	color: @green-dark;
	.sansRegular;
	font-size: 13px;
	padding: 0px;
	margin: 0px auto;
	max-width: 300px;
}
