.predictionContainer {
  .userInfo {
    height: 47px;
    a {
      text-decoration: none;
    }
    .userAgrees, .userDisagrees {
      display:inline-block;
      height: 22px;
      width: 24px;
      padding: 2px;
      margin-top: 10px;
    }
    .userDisagrees {
      background: image-url("icons/sd/disagree.png") center no-repeat;
      &.active {
        background: image-url("icons/sd/disagree_active.png") center no-repeat;
      }
    }
    .userAgrees {
      background: image-url("icons/sd/agree.png") center no-repeat;
      &.active {
        background: image-url("icons/sd/agree_active.png") center no-repeat;
      }
    }
  }
  .predictionInfoLine2, .commentInfoLine2 {
    background-color:white; padding: 5px 20px;
    a {
      text-decoration:none;
      color: #77BC1F;
      font-size: 0.75em;
    }
  }
  .predictionInfoLine2 {
    padding-bottom: 0px;
  }
  .predictionInfoLine3 {
    .img-retina("icons/group_prediction_badge.png", "icons/group_prediction_badge@2x.png", 13px, 12px);
    background-color:white; padding: 0px 0px 5px 0px;
    background-repeat: no-repeat;
    background-position: 20px 4px;
    padding-left: 40px;
    a {
      color: @green-knoda-dark;
      .sansBold;
      font-size: 0.75em;
      text-decoration: none;
    }
  }
  .commentInfoLine2 {
    padding-bottom: 0px;
    p {
      margin-bottom: 0px;
      text-decoration:none;
      color: #77BC1F;
      font-size: 0.75em;
    }
  }
  .username {
    padding: 0.5em;
    font-size: 16px;
    color: #666666;
    text-decoration: none;
  }
  .predictionInfo {
    .sansLight;
    font-size: 14px;
    color: #666666;
    a {
      color: #666666;
      text-decoration: none;
    }
  }
  .panel-body {
    margin-top: 5px;
    padding-top: 0px;
  }
  div.row.challenge-buttons {
    .center;
    margin: 5px;

    .btn-lg {
      width: 49%;
      .sansLight;
      font-size: 18px;
    }
    .userAgrees, .userDisagrees {
      background-color: @green-knoda-dark;
      border-color: @green-knoda-dark;
    }
  }
  img.verified-account {
    padding-bottom: .4em;
  }
  div.row.prediction_closed {
    .center;
    border-bottom: 1px solid @gray-knoda;
    height:81px;
    div.border-right {
      padding-top: 0px;
      margin-top: 5px;
      height: 70px;
      border-right: 1px solid @gray-knoda;
    }
  }
  .prediction_tabs {
    background-color: @gray-knoda;
    height: 60px;
    .center;
    padding-top: 10px;
    p {
      font-size: .8em;
      text-align: center;
      width: 70px;
      margin: 0 auto;
    }
    .comments, .similar, .tally, .share, .group {
      display: inline-block;
      height: 27px;
      width: 70px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .comments {
      background-image: image-url("icons/sd/action_comment.png");
      &.active, &:active {
        background-image: image-url("icons/sd/action_comment_active.png");
      }
    }
    .tally {
      background-image: image-url("icons/sd/action_tally.png");
      &.active, &:active {
        background-image: image-url("icons/sd/action_tally_active.png");
      }
    }
    .similar {
      background-image: image-url("icons/sd/action_similar.png");
      &.active, &:active {
        background-image: image-url("icons/sd/action_similar_active.png");
      }
    }
    .group {
    .img-retina("icons/action_group.png", "icons/action_group@2x.png", 38px, 27px);
    &.active, &:active {
      .img-retina("icons/action_group_active.png", "icons/action_group_active@2x.png", 38px, 27px);
    }
    }
    .share {
      background-image: image-url("icons/sd/action_share.png");
      &.active, &:active {
        background-image: image-url("icons/sd/action_share_active.png");
      }
      &.inactive, &.inactive:active {
        cursor: default;
        .img-retina("icons/action_share_inactive.png", "icons/action_share_inactive@2x.png", 38px, 27px);
      }
    }
    .share-prediction {
      &.inactive {
        color: @gray-light;
      }
    }
    a {
      text-decoration: none;
      cursor: pointer;
      color: @text-color;
    }
  }
  .bs {
    width: 80%;
  }
  .addCommentForm {
    margin-top: 10px;
  }
  .tally-content {
    a {
      text-decoration: none;
      cursor: pointer;
      color: @text-color;
    }
  }
  .won-lost-indicator {
    padding-right: 10px;
    margin-top: 10px;
    font-size: 14px;
    .sansBold;
    &.won {
      color: @green-knoda-light;
    }
    &.lost {
      color: @red-knoda
    }
  }

}
