// Core variables and mixins
@import "twitter/bootstrap/variables";
@import "variables";
@import "twitter/bootstrap/mixins";
@import "overrides/mixins";

// Reset
@import "twitter/bootstrap/normalize";
@import "twitter/bootstrap/print";

// Core CSS
@import "twitter/bootstrap/scaffolding";
@import "twitter/bootstrap/type";
@import "twitter/bootstrap/code";
@import "twitter/bootstrap/grid";
@import "twitter/bootstrap/tables";
@import "twitter/bootstrap/forms";
@import "twitter/bootstrap/buttons";

// Components
@import "twitter/bootstrap/component-animations";
//@import "overrides/glyphicons";
//@import "twitter/bootstrap/dropdowns";
//@import "twitter/bootstrap/button-groups";
//@import "twitter/bootstrap/input-groups";
//@import "twitter/bootstrap/navs";
//@import "twitter/bootstrap/navbar";
//@import "twitter/bootstrap/breadcrumbs";
//@import "twitter/bootstrap/pagination";
//@import "twitter/bootstrap/pager";
//@import "twitter/bootstrap/labels";
//@import "twitter/bootstrap/badges";
//@import "twitter/bootstrap/jumbotron";
//@import "twitter/bootstrap/thumbnails";
//@import "twitter/bootstrap/alerts";
@import "twitter/bootstrap/progress-bars";
.progress {
  overflow: hidden;
  height: 5px;
  margin: 0px;
  background-color: @progress-bg;
  border-radius: @border-radius-base;
  .box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
}
.progress-bar {
  line-height: 16px;
}

//@import "twitter/bootstrap/media";
//@import "twitter/bootstrap/list-group";
//@import "twitter/bootstrap/panels";
//@import "twitter/bootstrap/wells";
//@import "twitter/bootstrap/close";

// Components w/ JavaScript
//@import "twitter/bootstrap/modals";
//@import "overrides/modals";
//@import "twitter/bootstrap/tooltip";
//@import "twitter/bootstrap/popovers";
//@import "twitter/bootstrap/carousel";

// Utility classes
@import "twitter/bootstrap/utilities";
@import "twitter/bootstrap/responsive-utilities";
@import "font";

@action-height-xs: 40px;

.center {
  text-align: center;
}

div {
  .userInfo {
    background-color: @gray-knoda;
  }
}

.bottombar {
  font-family: inherit;
  font-weight: 500;
  &:hover {
    background-color:@green-dark;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
  }
}


.logo {
  background: image-url("embed/embed-sprite.png") no-repeat center left;
  background-size: 65px 432px;
  background-position: 0 -367px;
  height: 25px;
  line-height: 50px;
  width: 22px;
}

.progress-bar {
  line-height: 20px;
}

.call-to-action {
  cursor: pointer;
  height: @action-height-xs;
  background-color: @green-light;
  color: @white;
  text-align: center;
  .sansLight;
  line-height: @action-height-xs;
  font-size: 14px;
  .border-bottom-radius(10px);
  border-left-width: 0px;
  border-right-width: 0px
}

.tally {
  padding-top: 5px;
  .agree, .disagree {
    font-size: 18px;
    line-height: 30px;
  }
}

.agree {
  color: @green-light
}
.disagree {
  color: @red-knoda;
}
.percentage {
  color: @green-dark;
  font-size: 16px;
  line-height: 16px;
}
.percentage-label {
  color: @green-dark;
  font-size: 12px;
  margin: 0px;
}
.outcome-text {
  font-size: 12px;
  color: @green-dark;
}

#home-container {
  background-color:#FFFFFF;
  div {

        .predictionInfo {
          border-left: 1px solid @gray-knoda;
          border-right: 1px solid @gray-knoda;
        }
        .predictionInfoLine2 {
          border-left: 1px solid @gray-knoda;
          border-right: 1px solid @gray-knoda;
        }
      }
  .header {
    background-color: @green-light;
    color: @green-dark;
    height: 65px;
    position:relative;
    img {
      position:absolute;
      left:50%;
      right: 50%;
      width:45px;
      margin-left: -22.5px;
      padding-top: 10px;
    }
    .pull-right {
      font-size: 14px;
      line-height: 65px;
      span {
        .sansLight;
      }
      a {
        color: @green-dark;
        text-decoration:none;
      }
      .sansRegular;
    }
  }
  .subnav {
    padding: 20px 0px;
    a {
      .sansRegular;
      color: @green-dark;
      font-size: 14px;
      padding: 10px 5px;
      text-decoration: none;
      text-transform: uppercase;
      &.active {
        .sansBold;
      }
    }
  }
  .content {
    .sansLight;
    h1, h2 {
      font-family: 'Krona One', sans-serif;
      font-size: 24px;
      text-transform: uppercase;
      color: @green-light;
    }
    h2 {
      font-size: 18px;
    }
    .app-badges {
      text-align:center;
    }
  }
  #footer {
    background-color: transparent;
    text-align: center;
    padding-bottom: 20px;
    h2 {
      margin-bottom: 30px;
    }
    a {
      display: inline-block;
      .sansLight;
      font-size: 13px;
      color: @green-dark;
      padding: 0px 8px;
    }
    img {
      height: 20px;
      width: 20px;
    }
  }
}

#share {
  .percentage {
    font-size:36px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-sm-min) {
  #home-container {
  .content {
    .app-badges {
      text-align:left;
    }
  }
  }

  #share {
    p {
      font-size: 14px;
    }
    div{

        font-size:12px;
    .percentage {
      font-size: 26px;
    }
  }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  #home-container {
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  #home-container {
  }
}

@action-height: 40px;

@media (min-width: 500px) {
  #embed-container {
    .header{
      height:50px;
      img {
        height: 50px;
      }
    }
    .prediction-username {
      font-size: 24px;
      padding-left:20px;
      line-height: 50px;
    }
    .prediction-body, .prediction-meta {
      .sansLight;
      padding-left:10px;
      margin-bottom:10px;
      margin-top: 10px;
    }
    .prediction-body {
      font-size: 18px;
      margin-bottom:10px;
    }
    .prediction-meta {
      font-size: 12px;
    }
    .resolved {
      img {
        width: 36px;
      }
    }
    .tally {
      .agree, .disagree {
        font-size: 24px;
        line-height: 60px;
      }
      .percentage {
        color: @green-dark;
        font-size: 36px;
        line-height: 36px;
      }
      .percentage-label {
        font-size: 14px;
      }
      .outcome-text {
        font-size: 16px;
        color: @green-dark;
      }
    }
    .call-to-action {
      font-size: 18px;
      height: @action-height;
      line-height: @action-height;
    }
    .logo {
      width: 130px;
      height: 50px;
      background-position: 0 -734px;
      background-size: 130px 864px;
    }
    .action-buttons {
      background: transparent;
      height: @action-height;
      .btn-agree, .btn-disagree {
        line-height: @action-height;
      }
      .sep {
        background-position: 0 -564px; width: 24px; height: @action-height;
      }
    }
  }
  .progress-bar {
    line-height: 20px;
  }
}
