/* Colors 2.0 */
@white:                  #ffffff;
@gray-lightest:          #efefef;
@gray:                   #5c5d5c;
@green-light:            #77BC1F;
@green-dark:             #255b38;
@red:                    #fb353a;


@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;


@gray-knoda:				@gray-lightest;
@green-knoda-light:			@green-light;
@green-knoda-dark:			@green-dark;
@red-knoda:					@red;
@btn-success-bg:			@green-light;
@btn-success-border:		@green-light;

@body-bg:					#f9f9f9;

@navbar-default-bg:			#77BC1F;

@btn-primary-bg: @green-light;
@btn-primary-border: @green-light;

@progress-bar-danger-bg: @red;
@progress-bar-success-bg: @green-light;

@profile-light-green: #A0CE71;
