@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

@white: #ffffff;
@gray-knoda:				#EFEFEF;
@green-knoda-light:			#77BC1F;
@green-knoda-dark:			#255b38;
@red-knoda:					#fb353a;
@btn-success-bg:			@green-knoda-light;
@btn-success-border:		@green-knoda-light;

@body-bg:					#f9f9f9;

@navbar-default-bg:			#77BC1F;

@btn-primary-bg: @green-knoda-light;
@btn-primary-border: @green-knoda-light;

@progress-bar-danger-bg: @red-knoda;
@progress-bar-success-bg: @green-knoda-light;