<div class="row">
	<table class="table table-striped table-bordered">
	  <% @activities.each do |i| %>
	    <tr>
	    	<td><%= image_tag(activity_icon(i)) %></td>
	    	<td>
	    		<a href="/predictions/<%= i.prediction_id %>"><%= i.title %> "<%= i.prediction_body %>"</a>
	    	</td>
	    </tr>
	  <% end %>
	</table>
</div>