<!DOCTYPE html>
<html>
  <head>
    <title>Knoda | Predict • Compete • Conquer</title>
    <link href='http://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <style>
      #shareBody {
        color: #666666;
      }
      .navbar-default .navbar-brand {
        font-family: 'Krona One', sans-serif;
        color: #fff;
        font-size: 2em;
      }
    </style>
  </head>

  <body>  
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>